body {
  height: 100vh;
  width: 100vw;
  background-image: url("fondo-inicio.png");
  background-size: cover;
  background-position: center;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: yellow;
}

.logo {
  position: fixed;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.box {
  position: fixed;
  top: 56%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .cancha {
    position: relative;
    width: 90%;
  }
}

.cancha {
  height: auto;
  max-width: 100%;
  margin: 40px;
}

.btn-danger {
  position: absolute;
  bottom: 20px;
  left: 25px;
}

.left-panel {
  background-color: #030202;
  color: #fff;
  padding: 20px;
  width: 170px;
  position: absolute;
  top: 0;
  left: 0;
  height: 96%;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.right-panel {
  background-color: #030202;
  color: #fff;
  padding: 20px;
  width: 170px;
  position: absolute;
  top: 0;
  right: 0;
  height: 96%;
  border-radius: 10px;
  margin: 10px -5px 10px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.divider {
  height: 1px;
  background-color: #fff;
  margin: 0px 0 12px 0;
}

.panel-item {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.custom-list {
  background-color: #027abc;
  color: black;
  max-height: 146px;
  overflow-y: auto;
}

.list-group-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  font-size: 12px;
}

.fixed-width-button {
  width: 130px;
}

.player-card {
  border-radius: 30px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(253, 251, 251),
    -15px -15px 30px rgba(36, 237, 137, 0.84);
  position: absolute;
  border: 1px solid #ddd;
  padding: 2px;
  height: auto;
  text-align: center;
  border-radius: 4px;
  background-color: rgba(52, 108, 80, 0.84) !important;
  color: rgba(244, 246, 245, 0.84) !important;
  font-family: monospace;
  font-size: 11px;
}

.player-card-null {
  position: absolute;
  border: 1px solid rgba(52, 108, 80, 0.84) !important;
  padding: 2px;
  height: auto;
  text-align: center;
  border-radius: 4px;
  background-color: dimgray !important;
  color: dimgray;
  font-size: 11px;
}

.player-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.update-button {
  position: absolute;
  top: 10px;
  left: 45.8%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.player-card {
  border-radius: 30px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(253, 251, 251),
    -15px -15px 30px rgba(36, 237, 137, 0.84);
  position: absolute;
  border: 1px solid #ddd;
  padding: 2px;
  height: auto;
  text-align: center;
  border-radius: 4px;
  background-color: rgba(52, 108, 80, 0.84) !important;
  color: rgba(244, 246, 245, 0.84) !important;
  font-family: monospace;
  font-size: 11px;
}

.player-card-null {
  position: absolute;
  border: 1px solid rgba(52, 108, 80, 0.84) !important;
  padding: 2px;
  height: auto;
  text-align: center;
  border-radius: 4px;
  background-color: dimgray !important;
  color: dimgray;
  font-size: 11px;
}

.player-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f, 0 0 25px #03f40f, 0 0 50px #03f40f,
    0 0 100px #03f40f;
}

.login-box a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03f40f);
  animation: btn-anim1 2s linear infinite;
}
