body {
  height: 100vh;
  width: 100vw;
  background-image: url("fondo-inicio.png");
  background-size: cover;
  background-position: center;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: yellow;
}

.logo {
  position: fixed;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.box {
  position: fixed;
  top: 56%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .cancha {
    position: relative;
    width: 90%;
  }
}

.cancha {
  height: auto;
  max-width: 100%;
  margin: 40px;
}

.btn-danger {
  position: absolute;
  bottom: 20px;
  left: 25px;
}

.left-panel {
  background-color: #030202;
  color: #fff;
  padding: 20px;
  width: 170px;
  position: absolute;
  top: 0;
  left: 0;
  height: 96%;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.right-panel {
  background-color: #030202;
  color: #fff;
  padding: 20px;
  width: 170px;
  position: absolute;
  top: 0;
  right: 0;
  height: 96%;
  border-radius: 10px;
  margin: 10px -5px 10px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.divider {
  height: 1px;
  background-color: #fff;
  margin: 0px 0 12px 0;
}

.panel-item {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.custom-list {
  background-color: #027abc;
  color: black;
  max-height: 146px;
  overflow-y: auto;
}

.list-group-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  font-size: 12px;
}

.fixed-width-button {
  width: 130px;
}

.player-card {
  position: absolute;
  border: 1px solid #ddd;
  padding: 2px;
  height: auto;
  text-align: center;
  border-radius: 4px;
  background-color: white !important;
  color: black;
  font-size: 11px;
}

.player-card-null {
  position: absolute;
  border: 1px solid #ddd;
  padding: 2px;
  height: auto;
  text-align: center;
  border-radius: 4px;
  background-color: dimgray !important;
  color: dimgray;
  font-size: 11px;
}

.player-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.update-button {
  position: absolute;
  top: 10px;
  left: 45.8%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
